body {
  background-color: #0b1d3a;
  color: white;
  font-family: 'Oswald', sans-serif;
}

/* NAVBAR */
.navbar {  
  display: flex;
}

/* LOGO */
.logo {
  width: 150px;
  top: 55%;
}

/* TABLET */
@media (max-width: 992px) {
  .logo {
    width: 70px;
    top: 55%;
  }
}

/* MOBILE */
@media (max-width: 576px) {
  .logo {    
    width: 70px;
    top: 55%;
  }
}

/* REDES */
.social {
  display: flex;
  align-items: center;
}

.social a {
  color: white;
  font-size: 22px;
  margin-left: 15px;
  transition: 0.3s;
  text-decoration: none;
}

.social a:hover {
  color: #3ea6ff;
  transform: scale(1.2);
}

/* HERO */
.hero {
  height: 80vh;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
              url('https://images.unsplash.com/photo-1518091043644-c1d4457512c6') center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 600;
}

/* BOTÃO */
.btn-primary {
  background-color: #3ea6ff;
  border: none;
}

/* CARDS */
.card {
  background-color: #112b52;
  border: none;
  border-radius: 10px;
  color: white;
}

/* RESULTADOS */
.result-card {
  background-color: #112b52;
  border-radius: 12px;
  color: white;
  transition: 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-card:hover {
  transform: translateY(-5px);
  background-color: #16386b;
}

/* TIMES */
.teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.team span {
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: center;
}

.team-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* PLACAR */
.score {
  font-size: 1.8rem;
  font-weight: bold;
  color: #3ea6ff;
}

/* PATROCÍNIO */
.sponsor-card {
  background-color: #112b52;
  border-radius: 12px;
  transition: 0.3s;
  height: 100%;
}

.sponsor-card:hover {
  transform: translateY(-6px);
  background-color: #16386b;
}

.sponsor-card p {
  margin: 0;
  font-size: 0.95rem;
}

.icon {
  font-size: 28px;
}

/* FOOTER */
.footer {
  background-color: #06142b;
  padding: 20px;
  text-align: center;
}

/* PRÓXIMO JOGO */
.next-game {  
  padding: 12px 0;
  text-align: center;
}

.next-game p {
  margin: 0;
  font-size: 0.9rem;
}

.next-label {
  font-size: 0.75rem;
  opacity: 0.8;
  display: block;
}

/* MATCH */
.match {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px 0;
}

.match strong {
  margin: 0 10px;
}

/* INFO */
.match-info {
  font-size: 0.8rem;
  opacity: 0.9;
}

.mini-logo {
  width: 30px;
}

.game-info strong {
  color: #0b1d3a;
}

.next-game-section {
  margin-top: 10px;
  background-color: #e8edf1;
  color: #06142b;
}

.next-game-card { 
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.next-label {
  font-size: 1rem;
  opacity: 0.8;
  display: block;
  margin-bottom: 5px;
}